<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heima.wemedia.mapper.WmMaterialMapper">


    <select id="selectIds" resultType="java.lang.Integer">
        select id from wm_material where url in(
        <foreach collection="urls" item="url" separator=",">
            #{url}
        </foreach>
        )
    </select>
</mapper>