<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heima.wemedia.mapper.WmNewsMaterialMapper">

    <!--
        int saveNewsAndMaterialRelations(@Param("newsId") Integer newsId,
                                     @Param("materialIds") List<Integer> materialIds,
                                     @Param("type") Short type);
    -->
    <insert id="saveNewsAndMaterialRelations">
        INSERT INTO wm_news_material
            ( material_id, news_id, type, ord )
        VALUES
            <foreach collection="materialIds" item="id" separator="," index="i">
                (#{id}, #{newsId}, #{type}, #{i})
            </foreach>
    </insert>
</mapper>
